/* Estilos para la tabla */
.table-responsive {
    .rdt_TableHead > div {
        font-size: 2rem;
        color: color(primary)
    }
    .rdt_TableRow > div {
        font-size: 1.5rem;
        color: color(primary)
    }
    .rdt_Table > div{
        font-size: 1.5rem;
        color: color(primary)
    }
}